.card {
  background-color: rgb(26, 24, 24);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
color: white;
}

.card:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardPassword {
  color: #444;
  font-size: 1rem;
  margin-bottom: 15px;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.editBtn,
.deleteBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
   color: white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 120px;
}

.editBtn {
  background-color: black;
  color: white;
}

.editBtn:hover {
  background-color: #ec971f;
}

.deleteBtn {
  background-color: black;
  color: white;
}

.deleteBtn:hover {
  background-color: #c9302c;
}
