.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addbtn{
    color: white;
    background-color: black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 180px;
}
.pass{
    margin: 0;
      background-color: rgb(26, 24, 24);
      display: flex;
      justify-content: center;
      align-items: center;
    font-weight: 800;
    height: 150px;
    color: white;
    font-size: 100px;



}
.tot{
      font-weight: 800;
      font-size: 20px;
      font-family: cursive;
}